Repository Autodesk/hubble: changes, and which Codecov flags are due for each by the changed paths.
All: docs, updater

repos-total: reorder columns and show only organization repos by default
  docs/repos-total.html
Due: docs

add repo usage report
  docs/_data/navigation.yml
  docs/demo-data/repository-usage.tsv
  docs/repos-feature-usage.html
  updater/reports/ReportRepoUsage.py
  updater/update-stats.py
Due: docs, updater

PR usage: align query for active repos
  updater/reports/ReportPRUsage.py
  updater/reports/ReportRepoActivity.py
Due: updater

repo-activity: split organization and user account in separate charts
  docs/repos-activity.html
Due: docs

Add new Python modules to packaging script
  updater/packaging/debian/templates/Makefile
Due: updater

repo-total: fix series name in the chart to match the name in the csv
  docs/repos-total.html
Due: docs

Fix series name in the repos total chart (#113)
  docs/repos-total.html
Due: docs

Fix TSV file header in demo data
  docs/demo-data/repository-history.tsv
Due: docs

Add pull request links to 0.1.1 changelog
  CHANGELOG.md
Due: none

repo-feature-usage: improve chart description
  docs/repos-feature-usage.html
Due: docs

Minor rephrasing
  docs/repos-feature-usage.html
Due: docs

Minor rewording in changelog for consistency
  CHANGELOG.md
Due: none

repo-feature-usage: improve chart description (#114)
  docs/repos-feature-usage.html
Due: docs

Correct dashboard meta data in package-lock.json
  docs/package-lock.json
Due: docs

Version bump for release 0.2.0
  CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  updater/version
Due: docs, updater

Version bump after release 0.2.0
  CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  updater/version
Due: docs, updater

Rephrase readme to make it more concise
  README.md
Due: none

Started working on multiple data URLs [WIP] [ci skip]
  docs/assets/js/charts.js
  docs/index.html
Due: docs

SQL changes to enable the active repositories table
  updater/reports/ReportRepoUsage.py
Due: updater

Filter the table of active repositories
  docs/assets/js/charts.js
  docs/repos-feature-usage.html
Due: docs

Apply aggregation for single-view charts
  docs/assets/js/charts.js
Due: docs

Minor formatting
  docs/assets/js/charts.js
Due: docs

Remove unused return values
  docs/assets/js/charts.js
Due: docs

Simplify functors with JavaScript’s arrow syntax
  docs/assets/js/charts.js
Due: docs

Rephrase readme to make it more concise (#117)
  README.md
Due: none

Remove confusing past tense
  docs/assets/js/charts.js
Due: docs

Remove useless punctuation
  docs/repos-feature-usage.html
Due: docs

Count number of pushes in activeRepo query to avoid join in detailed query
  updater/reports/ReportRepoUsage.py
Due: updater

Add unit test for aggregation with single-view charts [ci skip]
  docs/spec/charts.js
  docs/spec/karma.conf.js
  docs/test-data/test.tsv
Due: docs

repo-activity: refactor subquery() into countActiveRepos() and activeRepos()
  updater/reports/ReportRepoActivity.py
Due: updater

repo-activity: generate list of active repositories and display top 50
  docs/assets/js/charts.js
  docs/demo-data/repository-activity-detailed.tsv
  docs/repos-activity.html
  updater/reports/ReportRepoActivity.py
Due: docs, updater

Path conditions:
  docs: any of: docs/
  updater: any of: updater/
