Repository Autodesk/hubble: changes, and which Codecov flags are due for each by the changed paths.
All: docs, updater

Renaming for consistency [ci skip]
  docs/assets/js/_partials/chart-git-versions.js
  docs/assets/js/git-versions.json
  docs/tools/update-git-versions.json.sh
Due: docs

Clean-up [ci skip]
  docs/assets/js/_partials/chart-git-versions.js
  docs/assets/js/_partials/chart-history.js
  docs/assets/js/git-versions.json
  docs/users-git-versions.html
Due: docs

Decompose charts.js
  .travis.yml
  docs/.eslintignore
  docs/.gitignore
  docs/assets/js/_partials/aggregate.js
  docs/assets/js/_partials/chart-base.js
  docs/assets/js/_partials/chart-chord.js
  docs/assets/js/_partials/chart-history.js
  docs/assets/js/_partials/chart-list.js
  docs/assets/js/_partials/chart-table.js
  docs/assets/js/_partials/spinner.js
  docs/assets/js/_partials/style.js
  docs/assets/js/_partials/urls.js
  docs/assets/js/charts.js
  docs/package.json
  docs/spec/karma.conf.js
Due: docs

Update Node.js packages used for testing
  docs/package-lock.json
  docs/package.json
Due: docs

Update Chart.js to 2.7.3
  docs/_layouts/default.html
  docs/assets/js/vendor/Chart-2.7.1.min.js
  docs/assets/js/vendor/Chart-2.7.3.min.js
  docs/spec/karma.conf.js
Due: docs

Replace deprecated Chart.js configuration option
  docs/assets/js/_partials/chart-history.js
Due: docs

Fix indentation
  docs/assets/js/_partials/chart-history.js
Due: docs

Allow JavaScript console warnings and errors
  docs/.eslintrc.json
Due: docs

Rename color name for clarity
  docs/assets/js/_partials/style.js
Due: docs

Fix unit tests for time data aggregation
  docs/spec/charts.js
Due: docs

Fix links in updater readme
  updater/README.md
Due: updater

First version of integrated repository metrics
  docs/_config.yml
  docs/_data/repository_navigation.yml
  docs/_includes/repository_navigation.html
  docs/_layouts/repository.html
  docs/assets/css/repository.css
  docs/demo-data/repository/github-api-request-types-by-count.tsv
  docs/repository/github-api-requests.html
  docs/repository/index.html
Due: docs

Add passing around nwo in query string in navigation links
  docs/_layouts/repository.html
  docs/assets/js/repository.js
Due: docs

Add loading repository specific data
  docs/_layouts/repository.html
  docs/assets/js/repository.js
  docs/demo-data/repository/org1/repo1/github-api-request-types-by-count.tsv
Due: docs

Add JSON file with information about Git releases
  docs/assets/js/git-versions.json
Due: docs

Implement area chart
  docs/assets/js/_partials/chart-area.js
  docs/assets/js/_partials/utils.js
  docs/assets/js/charts.js
Due: docs

Add script to update Git release JSON database
  docs/.eslintignore
  docs/tools/update-git-versions.json.sh
Due: docs

Normalize recommended Git versions chart
  docs/assets/js/_partials/chart-area.js
  docs/assets/js/_partials/chart-recommended-git-versions.js
  docs/assets/js/_partials/utils.js
Due: docs

Load online Git release database if accessible
  docs/assets/js/_partials/git-versions-database.js
Due: docs

Add demo data for detailed Git versions report
  docs/demo-data/git-versions-new.tsv
Due: docs

Implement recommended Git versions chart
  docs/assets/js/_partials/chart-recommended-git-versions.js
  docs/assets/js/charts.js
  docs/spec/chart-recommended-git-versions.js
  docs/spec/karma.conf.js
  docs/users-git-versions.html
Due: docs

Implement Git version database class
  docs/.eslintrc.json
  docs/assets/js/_partials/git-versions-database.js
  docs/assets/js/charts.js
  docs/spec/git-versions-database.js
  docs/spec/karma.conf.js
Due: docs

Add semantic versioning utilities
  docs/.eslintrc.json
  docs/assets/js/_partials/semantic-versioning.js
  docs/assets/js/charts.js
  docs/spec/semantic-versioning.js
Due: docs

Handle unknown Git versions appropriately
  docs/assets/js/_partials/chart-recommended-git-versions.js
  docs/spec/chart-recommended-git-versions.js
Due: docs

Adjust colors in recommended Git versions chart
  docs/assets/js/_partials/chart-area.js
  docs/assets/js/_partials/chart-recommended-git-versions.js
  docs/assets/js/_partials/style.js
Due: docs

Add back to instance statistics link to repo view
  docs/_includes/repository_navigation.html
  docs/assets/css/repository.css
  docs/assets/js/repository.js
Due: docs

Add overview table to overview page
  docs/assets/js/_partials/chart-table.js
  docs/assets/js/repository.js
  docs/demo-data/repository/org1/repo1/overview.tsv
  docs/repository/index.html
Due: docs

Add first version of creating a report for monitored repositories
  docs/demo-data/repository/org1/large-repo/github-api-request-types-by-count.tsv
  docs/demo-data/repository/org1/large-repo/overview.tsv
  docs/demo-data/repository/org1/repo1/overview.tsv
  updater/config.py.example
  updater/helpers.py
  updater/reports/Report.py
  updater/reports/repository/ReportOverview.py
  updater/update-stats.py
Due: docs, updater

Add report for GitHub api request types by count
  updater/reports/repository/ReportGitHubApiRequestTypesByCount.py
  updater/reports/repository/ReportOverview.py
  updater/scripts/repository/github-api-request-types-by-count.sh
  updater/update-stats.py
Due: updater

Add abstract ReportRepository class
  updater/reports/repository/ReportGitHubApiRequestTypesByCount.py
  updater/reports/repository/ReportOverview.py
  updater/reports/repository/ReportRepository.py
Due: updater

Add monitored repositories
  docs/_data/navigation.yml
  docs/_includes/repository_navigation.html
  docs/assets/js/_partials/chart-table.js
  docs/demo-data/repository-monitored.tsv
  docs/repos-monitored.html
  updater/reports/ReportReposMonitored.py
  updater/update-stats.py
Due: docs, updater

Add showing repository name in page header
  docs/_layouts/repository.html
  docs/assets/css/stylesheet.css
  docs/assets/js/repository.js
Due: docs

Add writing repository name directly into the header to avoid flickering
  docs/_layouts/repository.html
  docs/assets/css/stylesheet.css
  docs/assets/js/repository.js
Due: docs

Add git-sizer metrics
  docs/_data/repository_navigation.yml
  docs/demo-data/repository-monitored.tsv
  docs/demo-data/repository/org1/large-repo/overview.tsv
  docs/demo-data/repository/test-org/large-repo/git-repository-size-objects-count.tsv
  docs/demo-data/repository/test-org/large-repo/git-repository-size-objects-size.tsv
  docs/demo-data/repository/test-org/large-repo/github-api-request-types-by-count.tsv
  docs/demo-data/repository/test-org/large-repo/overview.tsv
  docs/repository/git-repository-size.html
  updater/config.py.example
  updater/reports/repository/ReportGitRepositorySizeObjectsCount.py
  updater/reports/repository/ReportGitRepositorySizeObjectsSize.py
  updater/update-stats.py
Due: docs, updater

Make "passing" repository to scripts work
  updater/reports/Report.py
  updater/scripts/repository/github-api-request-types-by-count.sh
Due: updater

Exclude internal api requests from api request types data
  updater/scripts/repository/github-api-request-types-by-count.sh
Due: updater

Add repository metrics support for non-remote runs
  updater/helpers.py
  updater/reports/Report.py
Due: updater

Path conditions:
  docs: any of: docs/
  updater: any of: updater/
