Repository Autodesk/hubble: changes, and which Codecov flags are due for each by the changed paths.
All: docs, updater

.codecov.yml:

coverage:
  status:
    project:
      default: off
      docs:
        flags: docs
        target: auto
        threshold: 2
    patch:
      default: off

flags:
  docs:
    paths:
      - docs/
  updater:
    paths:
      - updater/

comment:
  layout: "header"
  behavior: new
  require_changes: yes  # only post a PR comment if coverage changes
  require_base: yes     # must have a base report to post
  require_head: yes     # must have a head report to post
  branches: null

Update readme to new chart interface
  docs/README.md
Due: docs

Rename “collaboration chart” to “chord chart”
  docs/README.md
  docs/assets/js/charts.js
  docs/index.html
  docs/spec/charts.js
Due: docs

Add action bar with link to raw data to all charts
  docs/assets/css/stylesheet.css
  docs/assets/js/charts.js
Due: docs

Fix behavior with “raw data” buttons for tables
  docs/assets/js/charts.js
Due: docs

report JavaScript code coverage in PRs (#84)
  .codecov.yml
  .travis.yml
  docs/.eslintignore
  docs/.gitignore
  docs/package-lock.json
  docs/package.json
  docs/spec/karma.conf.js
Due: docs

add code coverage badge
  README.md
Due: none

add code coverage badge (#89)
  README.md
Due: none

Refactor access to configuration options
  docs/assets/js/charts.js
Due: docs

Refactor access to configuration options (#90)
  docs/assets/js/charts.js
Due: docs

Fix typo in chord chart code
  docs/assets/js/charts.js
Due: docs

Use GitHub build hash as parameter on assets
  docs/_layouts/default.html
Due: docs

Fix typo in chord chart code (#91)
  docs/assets/js/charts.js
Due: docs

Minor formatting in dashboard readme
  docs/README.md
Due: docs

Make the “raw data” button optional
  docs/README.md
  docs/assets/js/charts.js
  docs/index.html
Due: docs

Fix incorrect title margins
  docs/assets/css/stylesheet.css
Due: docs

add organization activity chart
  docs/_data/navigation.yml
  docs/demo-data/organization-activity.tsv
  docs/orgs-activity.html
  updater/reports/ReportOrgActivity.py
  updater/update-stats.py
Due: docs, updater

Add organization activity chart (#94)
  docs/_data/navigation.yml
  docs/demo-data/organization-activity.tsv
  docs/orgs-activity.html
  updater/reports/ReportOrgActivity.py
  updater/update-stats.py
Due: docs, updater

Provide generalized aggregation
  docs/README.md
  docs/assets/js/charts.js
  docs/pr-total.html
  docs/pr-usage.html
  docs/spec/.eslintrc.json
  docs/spec/charts.js
Due: docs

Add Font Awesome fonts as of version 5.0.6
  docs/_layouts/default.html
Due: docs

Replace text in “raw data” download button with icon
  docs/assets/js/charts.js
Due: docs

query abandoned organizations
  docs/_data/navigation.yml
  docs/demo-data/organizations-abandoned-detailed.tsv
  docs/demo-data/organizations-abandoned.tsv
  docs/housekeeping-abandoned-orgs.html
  updater/reports/ReportOrgsAbandoned.py
  updater/update-stats.py
Due: docs, updater

Add list of abandoned organizations (#95)
  docs/_data/navigation.yml
  docs/demo-data/organizations-abandoned-detailed.tsv
  docs/demo-data/organizations-abandoned.tsv
  docs/housekeeping-abandoned-orgs.html
  updater/reports/ReportOrgsAbandoned.py
  updater/update-stats.py
Due: docs, updater

add list of personal repositories that non-owners are pushing to
  docs/_data/navigation.yml
  docs/demo-data/repositories-personal-nonowner-pushes-detailed.tsv
  docs/demo-data/repositories-personal-nonowner-pushes.tsv
  docs/housekeeping-repo-location.html
  updater/reports/ReportReposPersonalNonOwnerPushes.py
  updater/update-stats.py
Due: docs, updater

Add list of personal repositories that nonowners push to (#96)
  docs/_data/navigation.yml
  docs/demo-data/repositories-personal-nonowner-pushes-detailed.tsv
  docs/demo-data/repositories-personal-nonowner-pushes.tsv
  docs/housekeeping-repo-location.html
  updater/reports/ReportReposPersonalNonOwnerPushes.py
  updater/update-stats.py
Due: docs, updater

remove suspended users from org owner list
  updater/reports/ReportOrgOwners.py
Due: updater

remove GitHub internal API requests from API statistics
  updater/scripts/api-requests.sh
Due: updater

count pusher in personal repos with nonowner pushes
  docs/demo-data/repositories-personal-nonowner-pushes-detailed.tsv
  updater/reports/ReportReposPersonalNonOwnerPushes.py
Due: docs, updater
