Repository Autodesk/hubble: changes, and which Codecov flags are due for each by the changed paths.
All: docs, updater

Add detailed Git versions report (#144)
  updater/reports/ReportGitVersionsNew.py
  updater/update-stats.py
Due: updater

Add Moment Timezone library
  docs/assets/js/vendor/moment-timezone-0.5.14-2017c.min.js
Due: docs

Fix incorrect dates at range ends
  docs/assets/js/charts.js
  docs/spec/.eslintrc.json
  docs/spec/charts.js
  docs/spec/karma.conf.js
Due: docs

Add missing Python import directive
  updater/reports/ReportPRUsage.py
Due: updater

Update API Requests By User
  docs/_data/navigation.yml
  docs/demo-data/api-requests-by-user.tsv
  docs/housekeeping-api-requests.html
  docs/users-rate-limit.html
  updater/reports/ReportAPIRequestsByUser.py
  updater/scripts/api-requests-by-user.sh
Due: docs, updater

Show median values in aggregated charts by default
  docs/housekeeping-abandoned-orgs.html
  docs/housekeeping-forks.html
  docs/housekeeping-repo-location.html
  docs/orgs-activity.html
  docs/orgs-total.html
  docs/pr-usage.html
  docs/recommendations-legacy-teams.html
  docs/repos-activity.html
  docs/repos-feature-usage.html
  docs/repos-total.html
  docs/teams-total.html
  docs/users-activity.html
Due: docs

Add hint that Git LFS traffic is not included in Git traffic
  docs/housekeeping-git-traffic.html
Due: docs

repo-activity: explain pushers/pushes number
  docs/repos-activity.html
  updater/reports/ReportRepoActivity.py
Due: docs, updater

Support empty data repositories
  updater/schema.py
Due: updater

Add missing Python import directive (#152)
  updater/reports/ReportPRUsage.py
Due: updater

fix
  docs/housekeeping-git-traffic.html
  docs/repos-activity.html
Due: docs

Improve some descriptions (#155)
  docs/housekeeping-git-traffic.html
  docs/repos-activity.html
  updater/reports/ReportRepoActivity.py
Due: docs, updater

Add API Requests By User
  docs/demo-data/api-requests-by-user.tsv
  docs/housekeeping-api-requests.html
  updater/reports/ReportAPIRequestsByUser.py
  updater/scripts/api-requests-by-user.sh
  updater/update-stats.py
Due: docs, updater

fix
  docs/housekeeping-api-requests.html
Due: docs

Add API Requests By User (#156)
  docs/demo-data/api-requests-by-user.tsv
  docs/housekeeping-api-requests.html
  updater/reports/ReportAPIRequestsByUser.py
  updater/scripts/api-requests-by-user.sh
  updater/update-stats.py
Due: docs, updater

Update Node.js dependencies
  docs/package-lock.json
  docs/package.json
Due: docs

Version bump for release 0.3.0
  CHANGELOG.md
  docs/package-lock.json
  docs/package.json
  updater/version
Due: docs, updater

Version bump after release 0.3.0
  docs/package-lock.json
  docs/package.json
  updater/version
Due: docs, updater

Track Git LFS traffic
  docs/demo-data/git-download.tsv
  docs/housekeeping-git-traffic.html
  updater/reports/ReportGitDownload.py
  updater/scripts/git-lfs-download.sh
Due: docs, updater

Generate more demo data for Git LFS traffic chart
  docs/demo-data/git-download.tsv
Due: docs

ignore case when counting entities
  updater/scripts/api-requests-by-user.sh
  updater/scripts/api-requests.sh
  updater/scripts/git-requests.sh
  updater/scripts/git-versions.sh
  updater/scripts/tokenless-auth.sh
Due: updater

track GHE internal API requests
  docs/demo-data/api-requests.tsv
  docs/housekeeping-api-requests.html
  updater/reports/ReportAPIRequests.py
  updater/scripts/api-requests.sh
Due: docs, updater

git-download: handle the case if there is no Git LFS traffic
  updater/reports/ReportGitDownload.py
Due: updater

git-download: handle very large Git LFS download numbers
  updater/scripts/git-lfs-download.sh
Due: updater

Update Node.js packages used for testing
  docs/package-lock.json
  docs/package.json
Due: docs

Decompose charts.js
  .travis.yml
  docs/.eslintignore
  docs/.gitignore
  docs/assets/js/_partials/aggregate.js
  docs/assets/js/_partials/chart-base.js
  docs/assets/js/_partials/chart-chord.js
  docs/assets/js/_partials/chart-history.js
  docs/assets/js/_partials/chart-list.js
  docs/assets/js/_partials/chart-table.js
  docs/assets/js/_partials/spinner.js
  docs/assets/js/_partials/style.js
  docs/assets/js/_partials/urls.js
  docs/assets/js/charts.js
  docs/package.json
  docs/spec/karma.conf.js
Due: docs

Add JSON file with information about Git releases
  docs/assets/js/git-versions.json
Due: docs

Add script to update Git versions JSON
  docs/tools/update-git-versions.json.sh
Due: docs

Work in progress [ci skip]
  docs/assets/js/_partials/chart-git-versions.js
  docs/assets/js/_partials/semantic-versioning.js
  docs/assets/js/charts.js
  docs/assets/js/git-versions.json
  docs/tools/update-git-versions.json.sh
  docs/users-git-versions.html
Due: docs

Work in progress [ci skip]
  docs/assets/js/_partials/chart-git-versions.js
  docs/assets/js/_partials/semantic-versioning.js
  docs/assets/js/git-versions.json
Due: docs

Work in progress [ci skip]
  docs/assets/js/_partials/chart-git-versions.js
Due: docs

Path conditions:
  docs: any of: docs/
  updater: any of: updater/
