Repository Autodesk/hubble: changes, and which Codecov flags are due for each by the changed paths.
All: docs, updater

.codecov.yml:

coverage:
  status:
    project:
      default: off
      docs:
        flags: docs
        target: auto
        threshold: 2
    patch:
      default: off

flags:
  docs:
    paths:
      - docs/
  updater:
    paths:
      - updater/

comment:
  layout: "header"
  behavior: new
  require_changes: yes  # only post a PR comment if coverage changes
  require_base: yes     # must have a base report to post
  require_head: yes     # must have a head report to post
  branches: null

Make collaboration chart multiview-capable
  docs/demo-data/org-collaboration.tsv
  docs/index.html
Due: docs

Make chord charts multiview-capable
  docs/assets/js/charts.js
  docs/index.html
Due: docs

calculate org collaboration over the last 2 weeks, 2 months, and 2 years
  updater/reports/ReportOrgCollaboration.py
Due: updater

Unconditionally show action bar
  docs/assets/js/charts.js
Due: docs

Apply aggregation for single-view charts (#121)
  docs/assets/js/charts.js
Due: docs

Don’t jump to top of the page when switching views
  docs/assets/js/charts.js
Due: docs

Enable multiple views on all history charts
  docs/housekeeping-abandoned-orgs.html
  docs/housekeeping-api-requests.html
  docs/housekeeping-forks.html
  docs/housekeeping-git-requests.html
  docs/housekeeping-git-traffic.html
  docs/housekeeping-repo-location.html
  docs/orgs-activity.html
  docs/orgs-total.html
  docs/pr-usage.html
  docs/recommendations-legacy-teams.html
  docs/recommendations-tokenless-auth.html
  docs/repos-activity.html
  docs/repos-feature-usage.html
  docs/repos-total.html
  docs/teams-total.html
  docs/users-activity.html
Due: docs

Enable multiple views on all history charts (#126)
  docs/housekeeping-abandoned-orgs.html
  docs/housekeeping-api-requests.html
  docs/housekeeping-forks.html
  docs/housekeeping-git-requests.html
  docs/housekeeping-git-traffic.html
  docs/housekeeping-repo-location.html
  docs/orgs-activity.html
  docs/orgs-total.html
  docs/pr-usage.html
  docs/recommendations-legacy-teams.html
  docs/recommendations-tokenless-auth.html
  docs/repos-activity.html
  docs/repos-feature-usage.html
  docs/repos-total.html
  docs/teams-total.html
  docs/users-activity.html
Due: docs

Don’t jump to top of the page when switching views (#125)
  docs/assets/js/charts.js
Due: docs

Remove the “/day” suffix from data series labels
  docs/demo-data/api-requests-detailed.tsv
  docs/demo-data/api-requests.tsv
  docs/demo-data/git-download-detailed.tsv
  docs/demo-data/git-download.tsv
  docs/demo-data/git-requests-detailed.tsv
  docs/demo-data/git-requests.tsv
  docs/demo-data/tokenless-authentication-detailed.tsv
  docs/demo-data/tokenless-authentication.tsv
  docs/housekeeping-git-traffic.html
  updater/reports/ReportAPIRequests.py
  updater/reports/ReportGitDownload.py
  updater/reports/ReportGitRequests.py
  updater/reports/ReportTokenlessAuth.py
  updater/scripts/api-requests.sh
  updater/scripts/git-download.sh
  updater/scripts/git-requests.sh
  updater/scripts/tokenless-auth.sh
Due: docs, updater

Fix error with empty chart views
  docs/assets/js/charts.js
Due: docs

Fix error with empty chart views (#134)
  docs/assets/js/charts.js
Due: docs

Remove the “/day” suffix from data series labels (#127)
  docs/demo-data/api-requests-detailed.tsv
  docs/demo-data/api-requests.tsv
  docs/demo-data/git-download-detailed.tsv
  docs/demo-data/git-download.tsv
  docs/demo-data/git-requests-detailed.tsv
  docs/demo-data/git-requests.tsv
  docs/demo-data/tokenless-authentication-detailed.tsv
  docs/demo-data/tokenless-authentication.tsv
  docs/housekeeping-git-traffic.html
  updater/reports/ReportAPIRequests.py
  updater/reports/ReportGitDownload.py
  updater/reports/ReportGitRequests.py
  updater/reports/ReportTokenlessAuth.py
  updater/scripts/api-requests.sh
  updater/scripts/git-download.sh
  updater/scripts/git-requests.sh
  updater/scripts/tokenless-auth.sh
Due: docs, updater

Minor refactorings and reformattings
  updater/reports/ReportAPIRequests.py
  updater/reports/ReportContributorsByOrg.py
  updater/reports/ReportContributorsByRepo.py
  updater/reports/ReportForksToOrgs.py
  updater/reports/ReportGitDownload.py
  updater/reports/ReportGitRequests.py
  updater/reports/ReportGitVersions.py
  updater/reports/ReportOrgActivity.py
  updater/reports/ReportOrgCollaboration.py
  updater/reports/ReportOrgOwners.py
  updater/reports/ReportOrgsAbandoned.py
  updater/reports/ReportOrgsTotal.py
  updater/reports/ReportPRByOrg.py
  updater/reports/ReportPRByRepo.py
  updater/reports/ReportPRHistory.py
  updater/reports/ReportPRUsage.py
  updater/reports/ReportRepoActivity.py
  updater/reports/ReportRepoUsage.py
  updater/reports/ReportReposPersonalNonOwnerPushes.py
  updater/reports/ReportRepositoryHistory.py
  updater/reports/ReportTeamsLegacy.py
  updater/reports/ReportTeamsTotal.py
  updater/reports/ReportTokenlessAuth.py
  updater/reports/ReportUsers.py
Due: updater

Minor refactorings and reformattings (#137)
  updater/reports/ReportAPIRequests.py
  updater/reports/ReportContributorsByOrg.py
  updater/reports/ReportContributorsByRepo.py
  updater/reports/ReportForksToOrgs.py
  updater/reports/ReportGitDownload.py
  updater/reports/ReportGitRequests.py
  updater/reports/ReportGitVersions.py
  updater/reports/ReportOrgActivity.py
  updater/reports/ReportOrgCollaboration.py
  updater/reports/ReportOrgOwners.py
  updater/reports/ReportOrgsAbandoned.py
  updater/reports/ReportOrgsTotal.py
  updater/reports/ReportPRByOrg.py
  updater/reports/ReportPRByRepo.py
  updater/reports/ReportPRHistory.py
  updater/reports/ReportPRUsage.py
  updater/reports/ReportRepoActivity.py
  updater/reports/ReportRepoUsage.py
  updater/reports/ReportReposPersonalNonOwnerPushes.py
  updater/reports/ReportRepositoryHistory.py
  updater/reports/ReportTeamsLegacy.py
  updater/reports/ReportTeamsTotal.py
  updater/reports/ReportTokenlessAuth.py
  updater/reports/ReportUsers.py
Due: updater

Rewrite headers on every update
  updater/reports/ReportAPIRequests.py
  updater/reports/ReportForksToOrgs.py
  updater/reports/ReportGitDownload.py
  updater/reports/ReportGitRequests.py
  updater/reports/ReportOrgsAbandoned.py
  updater/reports/ReportOrgsTotal.py
  updater/reports/ReportPRHistory.py
  updater/reports/ReportPRUsage.py
  updater/reports/ReportRepoActivity.py
  updater/reports/ReportRepoUsage.py
  updater/reports/ReportReposPersonalNonOwnerPushes.py
  updater/reports/ReportRepositoryHistory.py
  updater/reports/ReportTeamsLegacy.py
  updater/reports/ReportTeamsTotal.py
  updater/reports/ReportTokenlessAuth.py
  updater/reports/ReportUsers.py
Due: updater

Rewrite headers on every update (#138)
  updater/reports/ReportAPIRequests.py
  updater/reports/ReportForksToOrgs.py
  updater/reports/ReportGitDownload.py
  updater/reports/ReportGitRequests.py
  updater/reports/ReportOrgsAbandoned.py
  updater/reports/ReportOrgsTotal.py
  updater/reports/ReportPRHistory.py
  updater/reports/ReportPRUsage.py
  updater/reports/ReportRepoActivity.py
  updater/reports/ReportRepoUsage.py
  updater/reports/ReportReposPersonalNonOwnerPushes.py
  updater/reports/ReportRepositoryHistory.py
  updater/reports/ReportTeamsLegacy.py
  updater/reports/ReportTeamsTotal.py
  updater/reports/ReportTokenlessAuth.py
  updater/reports/ReportUsers.py
Due: updater

Switch user activity chart to 4-week intervals
  docs/demo-data/users.tsv
  docs/users-activity.html
  updater/reports/ReportUsers.py
Due: docs, updater

Switch user activity chart to 4-week intervals (#135)
  docs/demo-data/users.tsv
  docs/users-activity.html
  updater/reports/ReportUsers.py
Due: docs, updater

Fix tokenless authentication chart
  updater/scripts/tokenless-auth.sh
Due: updater

Fix tokenless authentication chart (#141)
  updater/scripts/tokenless-auth.sh
Due: updater

Update Moment.js to 2.21.0
  docs/_layouts/default.html
  docs/assets/js/vendor/moment-with-locales-2.21.0.min.js
  docs/assets/js/vendor/moment-with-locales.min.js
  docs/spec/karma.conf.js
Due: docs

Improve tooltips when aggregating data
  docs/assets/js/.eslintrc.json
  docs/assets/js/charts.js
Due: docs

Extract date formatting function
  docs/assets/js/charts.js
Due: docs

Add detailed Git versions report
  updater/reports/ReportGitVersionsNew.py
  updater/update-stats.py
Due: updater

added meta.tsv, updated documentation, fixed calendar import
  README.md
  meta.tsv
  updater/reports/ReportPRUsage.py
Due: updater

refined exception for missing meta.tsv
  updater/schema.py
Due: updater

added meta.tsv, updated README.md, fixed calendar import
  README.md
  meta.tsv
  updater/reports/ReportPRUsage.py
  updater/schema.py
Due: updater

fixed syntax error
  updater/schema.py
Due: updater

Add API Requests By User
  docs/_data/navigation.yml
  docs/demo-data/api-requests-by-user.tsv
  docs/users-rate-limit.html
  updater/reports/ReportAPIRequestsByUser.py
  updater/scripts/api-requests-by-user.sh
  updater/update-stats.py
Due: docs, updater

Make table chart type explicit
  docs/assets/js/charts.js
  docs/housekeeping-abandoned-orgs.html
  docs/housekeeping-api-requests.html
  docs/housekeeping-forks.html
  docs/housekeeping-git-requests.html
  docs/housekeeping-git-traffic.html
  docs/housekeeping-repo-location.html
  docs/org-owners.html
  docs/recommendations-legacy-teams.html
  docs/recommendations-tokenless-auth.html
  docs/repos-activity.html
Due: docs

Make table chart type explicit (#150)
  docs/assets/js/charts.js
  docs/housekeeping-abandoned-orgs.html
  docs/housekeeping-api-requests.html
  docs/housekeeping-forks.html
  docs/housekeeping-git-requests.html
  docs/housekeeping-git-traffic.html
  docs/housekeeping-repo-location.html
  docs/org-owners.html
  docs/recommendations-legacy-teams.html
  docs/recommendations-tokenless-auth.html
  docs/repos-activity.html
Due: docs
