Repository Autodesk/hubble: changes, and which Codecov flags are due for each by the changed paths.
All: docs, updater

Update Git version database
  docs/assets/js/git-versions.json
Due: docs

Fix typo
  docs/spec/git-versions-database.js
Due: docs

Fix date in unit test
  docs/spec/git-versions-database.js
Due: docs

Update Node.js dependencies
  docs/package-lock.json
  docs/package.json
Due: docs

📦 Add failed webhooks view
  docs/_data/navigation.yml
  docs/demo-data/failed-webhooks.tsv
  docs/housekeeping-failed-webhooks.html
  updater/scripts/failed-webhooks.sh
Due: docs, updater

add option to run the Hubble updater with Docker
  updater/Dockerfile
  updater/README.md
  updater/config.py.example
Due: updater

Update updater/README.md
  updater/README.md
Due: updater

Update updater/Dockerfile
  updater/Dockerfile
Due: updater

🤘 Add updater for failed webhooks and historical table
  docs/demo-data/failed-webhooks-detailed.tsv
  docs/demo-data/failed-webhooks.tsv
  docs/housekeeping-failed-webhooks.html
  updater/reports/ReportFailedWebhooks.py
  updater/scripts/failed-webhooks.sh
  updater/update-stats.py
Due: docs, updater

Apply suggestions from code review
  updater/reports/ReportFailedWebhooks.py
  updater/scripts/failed-webhooks.sh
Due: updater

🤘 Delete readData
  updater/reports/ReportFailedWebhooks.py
Due: updater

🤘Delete webhook type suffix
  updater/scripts/failed-webhooks.sh
Due: updater

Apply suggestions from code review
  updater/reports/ReportFailedWebhooks.py
Due: updater

Add a view for failed webhooks (#212)
  docs/_data/navigation.yml
  docs/demo-data/failed-webhooks-detailed.tsv
  docs/demo-data/failed-webhooks.tsv
  docs/housekeeping-failed-webhooks.html
  updater/reports/ReportFailedWebhooks.py
  updater/scripts/failed-webhooks.sh
  updater/update-stats.py
Due: docs, updater

run cron job inside docker container
  updater/Dockerfile
  updater/entrypoint.sh
Due: updater

📖 Add information to failed webhooks info box
  docs/housekeeping-failed-webhooks.html
Due: docs

add option to run the Hubble updater with Docker (#213)
  updater/Dockerfile
  updater/README.md
  updater/config.py.example
  updater/entrypoint.sh
Due: updater

fix comment: we query *all* repos here and not just active ones
  updater/reports/ReportRepositoryHistory.py
Due: updater

query total forks, forks in organizations, and forks in user accounts
  docs/demo-data/repository-history.tsv
  docs/repos-total.html
  updater/reports/ReportRepositoryHistory.py
Due: docs, updater

Add reports for issues and comments by day
  docs/_data/navigation.yml
  docs/users-communication.html
  updater/reports/ReportComments.py
  updater/reports/ReportDailySQL.py
  updater/reports/ReportIssues.py
  updater/update-stats.py
Due: docs, updater

Update LICENSE.md
  LICENSE.md
Due: none

📖 Add note for remote run with docker
  updater/config.py.example
Due: updater

warn user about incorrect traffic and versions numbers with active replicas
  docs/housekeeping-git-traffic.html
  docs/users-git-versions.html
Due: docs

new failures report and main category
  docs/_data/navigation.yml
  docs/demo-data/failed-auth-detailed.tsv
  docs/demo-data/failed-auth.tsv
  docs/failures-failed-authentication.html
  docs/failures-failed-webhooks.html
  updater/reports/ReportFailedAuth.py
  updater/scripts/failed-auth.sh
  updater/update-stats.py
Due: docs, updater

Update failures-failed-webhooks.html
  docs/failures-failed-webhooks.html
Due: docs

Updated location of exceptions.log.1
  updater/scripts/failed-webhooks.sh
Due: updater

Fix: The babeld logs using journalctl in GHES 3.0.
  updater/scripts/git-protocol.sh
  updater/scripts/git-requests.sh
Due: updater

Add report for issues created/updated/closed
  docs/_data/navigation.yml
  docs/demo-data/comments.tsv
  docs/demo-data/issues.tsv
  docs/users-communication.html
  updater/reports/ReportComments.py
  updater/reports/ReportDailySQL.py
  updater/reports/ReportIssues.py
  updater/update-stats.py
Due: docs, updater

Use GHES 3.x syntax for Git requests
  updater/scripts/git-requests.sh
Due: updater

Use GHES 3.x syntax for Git protocol usage
  updater/scripts/git-protocol.sh
Due: updater

Use GHES 3.x syntax for failed webhooks
  updater/scripts/failed-webhooks.sh
Due: updater

Path conditions:
  docs: any of: docs/
  updater: any of: updater/
