Repository Autodesk/hubble: changes, and which Codecov flags are due for each by the changed paths.
All: docs, updater

.codecov.yml:

coverage:
  status:
    project:
      default: off
      docs:
        flags: docs
        target: auto
        threshold: 2
    patch:
      default: off

flags:
  docs:
    paths:
      - docs/
  updater:
    paths:
      - updater/

comment:
  layout: "header"
  behavior: new
  require_changes: yes  # only post a PR comment if coverage changes
  require_base: yes     # must have a base report to post
  require_head: yes     # must have a head report to post
  branches: null

Change to lighter bold font
  docs/_layouts/default.html
  docs/assets/css/stylesheet.css
Due: docs

Minor formatting
  docs/README.md
Due: docs

Rename “sliceData” option to “slice”
  docs/README.md
  docs/assets/js/charts.js
  docs/pr-total.html
  docs/users-contributors.html
Due: docs

use table cell content "as-is" for unknown column types
  docs/assets/js/charts.js
Due: docs

move "Tokenless Authentication Requests" page to a subsection
  docs/_data/navigation.yml
  docs/recommendations-tokenless-auth.html
Due: docs

Add view switcher to action bar
  docs/assets/css/stylesheet.css
  docs/assets/js/charts.js
Due: docs

Add view switcher to “pull requests (total)” chart
  docs/pr-total.html
Due: docs

Support multiple views per chart
  docs/assets/js/charts.js
Due: docs

Sort all time data (not just when aggregating)
  docs/assets/js/charts.js
Due: docs

Add stylesheet for button bars
  docs/assets/css/stylesheet.css
Due: docs

Extend demo data for “pull requests (total)” chart
  docs/demo-data/pull-request-history.tsv
Due: docs

report legacy admin teams
  docs/_data/navigation.yml
  docs/demo-data/teams-legacy-detailed.tsv
  docs/demo-data/teams-legacy.tsv
  updater/reports/ReportTeamsLegacy.py
  updater/update-stats.py
Due: docs, updater

report legacy admin teams
  docs/_data/navigation.yml
  docs/demo-data/teams-legacy-detailed.tsv
  docs/demo-data/teams-legacy.tsv
  docs/recommendations-legacy-teams.html
  updater/reports/ReportTeamsLegacy.py
  updater/update-stats.py
Due: docs, updater

fix perl regex to extract the audit stats
  updater/scripts/git-download.sh
Due: updater

separate if for PERL_REGEX checking
  updater/scripts/git-download.sh
Due: updater

git-download: fix perl regex to extract the audit stats
  updater/scripts/git-download.sh
Due: updater

git-download: add function to check if GHE is between two versions
  updater/scripts/git-download.sh
Due: updater

Fix incorrect comment
  updater/update-stats.py
Due: updater

Remove trailing newline
  updater/reports/Report.py
Due: updater

Move helpers from Report module to separate module
  updater/helpers.py
  updater/reports/Report.py
Due: updater

Move data repository preparation to helper module
  updater/helpers.py
  updater/update-stats.py
Due: updater

git-download: limit workaround for audit log roll bug
  updater/scripts/git-download.sh
Due: updater

Minor formatting
  docs/housekeeping-repo-location.html
Due: docs

Correct dashboard meta data in package.json
  docs/package.json
Due: docs

Add forward compatibility check to updater
  updater/check-schema.py
  updater/schema.py
  updater/update-stats.py
Due: updater
