Repository Autodesk/hubble: changes, and which Codecov flags are due for each by the changed paths.
All: docs, updater

.codecov.yml:

coverage:
  status:
    project:
      default: off
      docs:
        flags: docs
        target: auto
        threshold: 2
    patch:
      default: off

flags:
  docs:
    paths:
      - docs/
  updater:
    paths:
      - updater/

comment:
  layout: "header"
  behavior: new
  require_changes: yes  # only post a PR comment if coverage changes
  require_base: yes     # must have a base report to post
  require_head: yes     # must have a head report to post
  branches: null

Add repository Git traffic metrics
  docs/_data/repository_navigation.yml
  docs/demo-data/repository/test-org/large-repo/github-git-download-detailed.tsv
  docs/demo-data/repository/test-org/large-repo/github-git-download.tsv
  docs/repository/github-git-traffic.html
  updater/reports/repository/ReportGitHubGitDownload.py
  updater/scripts/git-download.sh
  updater/update-stats.py
Due: docs, updater

Consolidate git-sizer report and include all quantity values
  docs/demo-data/repository/test-org/large-repo/git-repository-size-objects-count.tsv
  docs/demo-data/repository/test-org/large-repo/git-repository-size-objects-size.tsv
  docs/demo-data/repository/test-org/large-repo/git-sizer.tsv
  docs/repository/git-repository-size.html
  updater/reports/repository/ReportGitRepositorySizeObjectsCount.py
  updater/reports/repository/ReportGitRepositorySizeObjectsSize.py
  updater/reports/repository/ReportGitSizer.py
  updater/update-stats.py
Due: docs, updater

Tweaked charts to focus on actionable metrics
  docs/demo-data/repository/test-org/large-repo/git-sizer.tsv
  docs/repository/git-repository-size.html
Due: docs

Make updater scripts executable
  updater/scripts/api-requests-by-user.sh
  updater/scripts/api-requests.sh
  updater/scripts/git-download.sh
  updater/scripts/git-lfs-download.sh
  updater/scripts/git-requests.sh
  updater/scripts/git-versions.sh
  updater/scripts/repository/github-api-request-types-by-count.sh
  updater/scripts/tokenless-auth.sh
Due: updater

Handle unknown Git versions appropriately
  docs/assets/js/_partials/chart-recommended-git-versions.js
  docs/spec/chart-recommended-git-versions.js
Due: docs

Adjust colors in recommended Git versions chart
  docs/assets/js/_partials/chart-area.js
  docs/assets/js/_partials/chart-recommended-git-versions.js
  docs/assets/js/_partials/style.js
Due: docs

Add demo data for detailed Git versions report
  docs/demo-data/git-versions-new.tsv
Due: docs

Implement area chart
  docs/assets/js/_partials/chart-area.js
  docs/assets/js/_partials/utils.js
  docs/assets/js/charts.js
Due: docs

Implement recommended Git versions chart
  docs/assets/js/_partials/chart-recommended-git-versions.js
  docs/assets/js/charts.js
  docs/spec/chart-recommended-git-versions.js
  docs/spec/karma.conf.js
  docs/users-git-versions.html
Due: docs

Load online Git release database if accessible
  docs/assets/js/_partials/git-versions-database.js
Due: docs

Add semantic versioning utilities
  docs/.eslintrc.json
  docs/assets/js/_partials/semantic-versioning.js
  docs/assets/js/charts.js
  docs/spec/semantic-versioning.js
Due: docs

Implement Git version database class
  docs/.eslintrc.json
  docs/assets/js/_partials/git-versions-database.js
  docs/assets/js/charts.js
  docs/spec/git-versions-database.js
  docs/spec/karma.conf.js
Due: docs

Normalize recommended Git versions chart
  docs/assets/js/_partials/chart-area.js
  docs/assets/js/_partials/chart-recommended-git-versions.js
  docs/assets/js/_partials/utils.js
Due: docs

Add script to update Git release JSON database
  docs/.eslintignore
  docs/tools/update-git-versions.json.sh
Due: docs

Add JSON file with information about Git releases
  docs/assets/js/git-versions.json
Due: docs

read Git client versions from audit log
  updater/scripts/git-versions.sh
Due: updater

Update Git version database
  docs/assets/js/git-versions.json
Due: docs

Fix minor typo
  docs/users-git-versions.html
Due: docs

Fix minor typo (#188)
  docs/users-git-versions.html
Due: docs

make updater scripts executable
  updater/scripts/api-requests-by-user.sh
  updater/scripts/api-requests.sh
  updater/scripts/git-download.sh
  updater/scripts/git-lfs-download.sh
  updater/scripts/git-requests.sh
  updater/scripts/git-versions.sh
  updater/scripts/tokenless-auth.sh
Due: updater

add Git protocol chart
  docs/_data/navigation.yml
  docs/demo-data/git-protocol.tsv
  docs/users-git-protocol.html
  updater/reports/ReportGitProtocol.py
  updater/scripts/git-protocol.sh
  updater/update-stats.py
Due: docs, updater

Fix issue with relative dataURLs by only supporting absolute dataURLs
  docs/_config.yml
  docs/repository/git-repository-size.html
  docs/repository/github-api-requests.html
  docs/repository/github-git-traffic.html
  docs/repository/index.html
Due: docs

Update Node.js dependencies
  docs/package-lock.json
  docs/package.json
Due: docs

count number of successful connections per protocol
  updater/scripts/git-protocol.sh
Due: updater

report 0 if a certain protocol is not used
  updater/reports/ReportGitProtocol.py
Due: updater

Add a best-effort attempt to check for maintenance on a remote instance and abort if maintenance is on. https://github.com/Autodesk/hubble/issues/179
  updater/config.py.example
  updater/helpers.py
  updater/update-stats.py
Due: updater

add repository size report
  docs/_data/navigation.yml
  docs/demo-data/repository-size-detailed.tsv
  docs/demo-data/repository-size.tsv
  docs/repos-size.html
  updater/reports/ReportRepoSize.py
  updater/update-stats.py
Due: docs, updater

https://github.com/Autodesk/hubble/issues/179
  updater/update-stats.py
Due: updater
